<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcake Store</title>
    <script src="https://kit.fontawesome.com/581b6d46b3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/styles/global.css">
    <link rel="stylesheet" href="/public/styles/nav-bar.css">
    <link rel="stylesheet" href="/public/styles/mobile-menu.css">
    <link rel="stylesheet" href="/public/styles/cart.css">
    <link rel="stylesheet" href="/public/styles/popup.css">
    <script src="/public/scripts/popup.js" defer></script>
    <script src="/public/scripts/cart.js" defer></script>
    <script src="/public/scripts/http_helper.js"></script>
    <style>
        .content
        {
            display: flex;
            gap: 1rem;
            justify-content: center;
        }

        .content > div
        {
            background-color: white;
            box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
            border-radius: .4rem;
            padding: 1rem;
            margin-top: 4rem;
            margin-bottom: 4rem;
            width: 50%;
            /* height: 15rem; */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .content > div > div
        {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: .5rem;
            padding-bottom: .5rem;
        }
        
        .content > div > div > div
        {
            display: flex;
            justify-content: center;
            gap: .5rem;
            padding-bottom: .5rem;
        }

        .content > div > div > div > input
        {
            display: flex;
            justify-content: center;
            gap: .5rem;
            padding-bottom: .5rem;
            width: 50%;
        }

        .content > div input
        {

            gap: .5rem;
            font-size: 1.2rem;
            padding: .5rem;
            border-radius: .4rem;
            border: none;
            border: 2px solid black;
        }

        .content > div input:disabled
        {
            background-color: rgb(207, 207, 207);
        }
        
        .content > div button
        {
            background-color: black;
            font-size: 1.3rem;
            cursor: pointer;
            outline: none;
            border: none;
            border-radius: .4rem;
            color: white;
            padding: .5rem;
        }

        @media only screen and (max-width: 600px) 
        {
            .content > div
            {
                width: 100%;
                margin: 1rem;
            }   
        }
        
    </style>
</head>
<body>
    <%- include('../modules/nav-bar.ejs'); -%>
    <div class="cart" id="cart_menu">
        <div>
            <i class="fa-solid fa-xmark" id="cart_close"></i>
            <div class="cart_items">
              
            </div>
            <div>
                <div >
                    <h3>Total</h3><h3 id="cart_price"></h3>
                </div>
                <button onclick="window.location.replace('/cart')">Comprar</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="popup">
            <h3></h3>
        </div>
        <div class="content">
            <div>
                <div id="personal_info">
                    <h2>Criar Conta</h2>
                    <input onchange="correct(this)"   type="text" placeholder="Nome" maxlength="130">
                    <input onchange="correct(this)" type="text" placeholder="Sobrenome" maxlength="130">
                    <input type="number" placeholder="CPF">
                </div>
                <div id="login_info">
                    <h3>Email e Senha</h3>
                    <input type="email" placeholder="Email" maxlength="130">
                    <input type="password" placeholder="Senha" maxlength="35">
                </div>
                <div id="adress_info">
                    <h3>Endereço</h3>
                    <input type="text" placeholder="CEP" maxlength="130">
                    <input type="text" placeholder="Número" maxlength="130">
                    <input type="text" placeholder="Rua" maxlength="130" disabled>
                    <input type="text" placeholder="Bairro" maxlength="130" disabled>
                    <div>
                        <input type="text" placeholder="Cidade" maxlength="130" disabled>
                        <input type="text" placeholder="Estado" maxlength="130" disabled>
                    </div>
                </div>
                <button id="register">Registrar</button>
            </div>
        </div>
    </div>
    <div class="footer">

    </div>
    </div>
    <%- include('../modules/mobile-menu.ejs'); -%>
    <script src="/public/scripts/loadCart.js"></script>
    <script>
        const personal_info = document.querySelector("#personal_info");
        const login_info = document.querySelector("#login_info");
        const adress_info = document.querySelector("#adress_info");
        const register = document.querySelector("#register");

        adress_info.children[1].addEventListener("focusout", async e => {
            var address = await fetchInfo(`https://viacep.com.br/ws/${adress_info.children[1].value}/json/`);
        
            if(Array.isArray(address)){
                popup.style.display = "unset";
                popup.children[0].innerHTML = "Endereço não encontrado"
                return;
            }

            adress_info.children[3].value = address.logradouro
            adress_info.children[4].value = address.bairro
            adress_info.children[5].children[0].value = address.localidade
            adress_info.children[5].children[1].value = address.uf

        })

        var verifyString = /[A-Za-z ]+$/;

        register.addEventListener('click', async e => {
           if(!verifyString.test(personal_info.children[1].value)){
                popup.style.display = "unset";
                popup.children[0].innerHTML = "Seu nome não pode ter caracteres especiais."
                return;
           }

           if(!verifyString.test(personal_info.children[2].value)){
                popup.style.display = "unset";
                popup.children[0].innerHTML = "Seu nome não pode ter caracteres especiais"
                return;
           }

           if(personal_info.children[3].value.length != 11){
                popup.style.display = "unset";
                popup.children[0].innerHTML = "O CPF está incorreto"
                return;
           }

           if(login_info.children[2] < 7){
                popup.style.display = "unset";
                popup.children[0].innerHTML = "Senha muito curta"
                return;
           }

           const res = await postData('/api/v1/auth/register', "post",{
            firstName: personal_info.children[1].value, 
            lastName: personal_info.children[2].value, 
            email:  login_info.children[1].value,
            password: login_info.children[2].value,
            document_id: personal_info.children[3].value,
            address_cep: adress_info.children[1].value,
            address_number: adress_info.children[2].value
           });

           if(res.error == false){
                window.location.replace('/auth/login')
           }
        })

        loadCart();

        function correct(e){
            e.value = titleCase(e.value)
        }

        function titleCase(string) {
        return string
            .split(" ")
            .map((word) => word[0].toUpperCase() + word.slice(1).toLowerCase())
            .join(" ");
        }
    </script>
</body>
</html>