<div class="mobile-menu">
    <div>
        <i class="fa-solid fa-house"></i>
        <span>Loja</span>
    </div>
    <div>
        <i class="fa-solid fa-magnifying-glass"></i>
        <span>Categorias</span>
    </div>
    <div>
        <i class="fa-solid fa-cart-shopping"></i>
        <span>Carrinho</span>
    </div>
    <div>
        <i class="fa-solid fa-user"></i>
        <span>Conta</span>
    </div>
</div>