<div class="mobile-menu">
    <div>
        <i class="fa-solid fa-house"></i>
        <span onclick="window.location.href = '/'">Loja</span>
    </div>
    <div>
        <i class="fa-solid fa-magnifying-glass"></i>
        <span onclick="window.location.href = '/search'">Pesquisar</span>
    </div>
    <div>
        <i class="fa-solid fa-cart-shopping"></i>
        <span onclick="window.location.href = '/cart'">Carrinho</span>
    </div>
    <div>
        <i class="fa-solid fa-user"></i>
        <span onclick="window.location.href = '/user'">Conta</span>
    </div>
</div>