<nav>
    <div>
        <% if(!username){ %>
            <div>
                <a href="/auth/register">Criar uma conta</a>
                <span>ou</span>
                <a href="/auth/login">Entrar</a>
            </div>
        <% }else{ %>
            <a class="user" href="/user"><%= username %></a>
        <% } %>
        <h1 onClick="window.location.href = '/'" style="cursor: pointer;">Loja de Cupcakes</h1>
        <div>
            <i class="fa-solid fa-heart"></i>
            <div class="numbered-icon" id="cart_toggle">
                <i class="fa-solid fa-cart-shopping"></i>
                <label>1</label>
            </div>
        </div>
    </div>
    <div>
        <div class="search-bar">
            <input type="text" id="search_inp" placeholder="Cupcake de Nutela">
            <i id="search_btn" class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>
</nav>
<script>
    const search_inp = document.querySelector("#search_inp");
    const search_btn = document.querySelector("#search_btn");

    search_inp.addEventListener('keydown', function(event) {
        if(event.key == "Enter") {
            window.location.href = `/search?q=${search_inp.value}`;
        }
    });

    search_btn.addEventListener('click', e => {
        window.location.href = `/search?q=${search_inp.value}`;
    });
</script>