<nav>
    <div>
        <i class="fa-solid fa-envelope"></i>
        <h1>Loja de Cupcakes</h1>
        <div>
            <i class="fa-solid fa-heart"></i>
            <div class="numbered-icon" id="cart_toggle">
                <i class="fa-solid fa-cart-shopping"></i>
                <label>1</label>
            </div>
        </div>
    </div>
    <div>
        <div class="search-bar">
            <input type="text" placeholder="Cupcake de Nutela">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>
</nav>