<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcake Store</title>
    <script src="https://kit.fontawesome.com/581b6d46b3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/styles/global.css">
    <link rel="stylesheet" href="/public/styles/nav-bar.css">
    <link rel="stylesheet" href="/public/styles/mobile-menu.css">
    <link rel="stylesheet" href="/public/styles/cart.css">
    <link rel="stylesheet" href="/public/styles/popup.css">
    <script src="/public/scripts/popup.js" defer></script>
    <script src="/public/scripts/cart.js" defer></script>
    <script src="/public/scripts/http_helper.js"></script>
    <style>
        .content
        {
            display: grid;
            grid-template-columns: 20% 80%;
            margin-top: 4rem;
            margin-bottom: 4rem;
        }

        .content > div:nth-child(1)
        {
            grid-column: 2/3;
            padding: 1rem;
        }

        .content > div:nth-child(2)
        {
            grid-row: 1/3;
            grid-column: 1/2;
           
            padding: 1rem 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .content > div:nth-child(2) > div > div
        {
            width: 100%;
            margin-top: .5rem;
            display: flex;
            flex-wrap: wrap;
        }

        .mobile_btn
        {
            position: absolute;
            top: 3rem;
            right: -6.5rem;
            text-decoration: none;
            background-color: white;
            padding: .5rem;
            border-radius: .9rem;
            box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
            display: none;
            cursor: pointer;
        }

        .content > div:nth-child(2) a
        {
            text-decoration: none;
            background-color: white;
            padding: .5rem;
            border-radius: .4rem;
            box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
            margin-right: .5rem;
            margin-bottom: .5rem;
            color: black;
        }

        .content > div:nth-child(3)
        {
            grid-column: 2/3;
            display: grid;
            grid-template-columns: repeat(3, calc(calc(100% - 4rem) / 3));
            grid-auto-rows: 26rem;
            gap: 1rem;
            justify-content: center;
        }

        .content > div:nth-child(4)
        {
            grid-column: 2/3;
            grid-row: 3/4;
            padding: 1rem 0;
            margin: 1rem;
            background-color: white;
            padding: .5rem;
            border-radius: .4rem;
            box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
            justify-content: center;
            display: flex;
            gap: .5rem;
        }

        .content > div:nth-child(4) button
        {
            font-size: 1.5rem;
            width: 2rem;
            height: 2rem;
            border-radius: .4rem;
            cursor: pointer;
            background-color: white;
            border: 2px solid black;
            font-weight: 900;
           
        }

        .content > div:nth-child(4) button.selected
        {
            font-size: 1.5rem;
            width: 2rem;
            height: 2rem;
            border-radius: .4rem;
            cursor: pointer;
            background-color: black;
            color: white;
            font-weight: 900;
            border: none;
        }


        .product-card
        {
            background-color: white;
            padding: .5rem;
            border-radius: .4rem;
            box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
            display: flex;
            flex-direction: column;
            height: calc(100% - 1rem);
        }
        
        .product-card img
        {
            width: 100%;
            height: auto;
            border-radius: .4rem;
        }

        .product-card > h3
        {
            font-size: 1rem;
            font-weight: 600;
            margin-top: .5rem;
            font-family: 'Montserrat', sans-serif;
        }

        .product-card > div
        {
            display: flex;
            align-items: center;
            
        }

        .product-card > div h3
        {
            font-size: 1rem;
            font-weight: 900;
            font-family: 'Montserrat', sans-serif;
        }

        .product-card > div > h3:nth-child(1)
        {
            font-size: 1.4rem;
            padding-right: .5rem;
        }

        .product-card > div > h3:nth-child(2)
        {
            color: rgb(87, 87, 87);
            text-decoration: line-through;
        }

        .product-card > div:nth-child(3)
        {
            margin-top: .5rem;
            display: flex;
            align-items:end;
            height: 100%;
        }

        .product-card > div:nth-child(4)
        {
            margin-top: .5rem;
        }

        .product-card > div > button
        {
            background-color: black;
            color: white;
            border-radius: .4rem;
            padding: .5rem;
            border: none;
            outline: none;
            width: 100%;
            font-size: 1.5rem;
            font-weight: 600;
            cursor: pointer;
        }

        @media only screen and (max-width: 600px) 
        {
            .content
            {
                display: grid;
                grid-template-columns: 20% 80%;
                margin-top: 0;
                margin-bottom: 4rem;
            }

            .mobile_btn
            {
                display: unset;
            }

            .content > div:nth-child(1)
            {
                grid-column: 1/3;
                padding: 1rem .5rem;
            }

            .content > div:nth-child(2)
            {
                position: fixed;
                grid-row: 1/3;
                grid-column: 1/2;
                padding: 1rem 0;
                background-color: white;
                height: 100%;
                padding-left: .5rem;

            }

            .content > div:nth-child(2).open
            {
                transform: translateX(0);
                animation: open 1s ease;
            }

            .content > div:nth-child(2).close
            {
                transform: translateX(-100%);
                animation: close 1s ease;
            }

            .content > div:nth-child(3)
            {
                grid-column: 1/3;
                grid-row: 2/3;
                grid-template-columns: repeat(2, calc(calc(100% - 2rem) / 2));
                grid-auto-rows: 22rem;
            }

            .content > div:nth-child(4)
            {
                grid-column: 1/3;
                grid-row: 3/4;
                padding: 1rem 0;
                margin: 1rem .5rem;
            }

            .product-card > div > h3:nth-child(1)
            {
                font-size: 1rem;
                padding-right: .5rem;
            }

        }

        @keyframes open {
            0%{
                transform: translateX(-100%);
            }
            100%{
                transform: translateX(0);
            }
        }

        @keyframes close {
            0%{
                transform: translateX(0);
            }
            100%{
                transform: translateX(-100%);
            }
        }
        
    </style>
</head>
<body>
    <%- include('../modules/nav-bar.ejs'); -%>
    <div class="cart" id="cart_menu">
        <div>
            <i class="fa-solid fa-xmark" id="cart_close"></i>
            <div class="cart_items">
              
            </div>
            <div>
                <div >
                    <h3>Total</h3><h3 id="cart_price"></h3>
                </div>
                <button onclick="window.location.replace('/cart')">Comprar</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="popup">
            <h3></h3>
        </div>
        <div class="content">
            <div>
                <h1 id="search_query"></h1>
            </div>
            <div id="mobile_menu_search" class="close">
                <div>
                    <h3>Categorias</h3>
                    <div id="category_holder">
                        <!-- <a href="">Nutela</a>
                        <a href="">Veganos</a>
                        <a href="">limão</a> -->
                    </div>
                </div>
                <div class="mobile_btn" id="mobile_btn">Categorias</div>
            </div>
            <div id="search_res">
                <!-- <div class="product-card">
                    <img src="public/images/flavors/cupcake.png" alt="">
                    <h3>Cupcake Doce De Leite Recheado Com Amor</h3>
                    <div>
                        <h3>R$ 45,00</h3>  <h3>R$ 65,00</h3>
                    </div>
                    <div>
                        <button>Pedir</button>
                    </div>
                </div> -->
                
            </div>
            <div>
                <button class="selected">1</button>
                <button>2</button>
            </div>
        </div>
    </div>
    <div class="footer">

    </div>
    </div>
    <%- include('../modules/mobile-menu.ejs'); -%>
    <script src="/public/scripts/loadCart.js"></script>
    <script>
        const mobile_menu_search = document.querySelector("#mobile_menu_search")
        const mobile_btn = document.querySelector("#mobile_btn")

        mobile_btn.addEventListener('click', e => {
            mobile_menu_search.classList.toggle("close");
            mobile_menu_search.classList.toggle("open");
        })
        /***/
        const urlParams = window.location.pathname;
        const param = urlParams.split("/");

        const search_res = document.querySelector("#search_res");
        const search_query = document.querySelector("#search_query");
        const category_holder = document.querySelector("#category_holder");

        search_query.innerHTML = param[2];

        async function init(){
            
            var category = await fetchInfo(`/api/v1/category?q=${param[2]}`);
            category = category.data[0];

            console.log(category)

            var cupcakes = await fetchInfo(`/api/v1/cupcake?category=${category.id}`);
            cupcakes = cupcakes.data;

            for (let i = 0; i < cupcakes.length; i++) {
                search_res.innerHTML += `
                <div class="product-card">
                    <img src="${cupcakes[i].cover_image}" alt="">
                    <h3>${cupcakes[i].name}</h3>
                    <div>
                        <h3>${formatter.format(cupcakes[i].selling_price)}</h3>  <h3>${formatter.format(cupcakes[i].selling_price + (cupcakes[i].selling_price * 0.15))}</h3>
                    </div>
                    <div>
                        <button onClick="window.location.href = '/product/${cupcakes[i].id}'">Pedir</button>
                    </div>
                </div>
                `;
            }

            var categories = await fetchInfo(`/api/v1/category`);
            categories = categories.data;

            for (let i = 0; i < categories.length; i++) {
                category_holder.innerHTML += ` <a href="/category/${categories[i].name}">${categories[i].name}</a>`;
            }
        }

        init();
        loadCart();
    </script>
</body>
</html>