<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcake Store</title>
    <script src="https://kit.fontawesome.com/581b6d46b3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="public/styles/global.css">
    <link rel="stylesheet" href="public/styles/nav-bar.css">
    <link rel="stylesheet" href="public/styles/mobile-menu.css">
    <style>
        .banner
        {
            position: relative;
            display: flex;
            overflow: hidden;
        }

        .banner > img
        {
            width: 100%;
            height: auto;
        }

        .banner-holder 
        {
            position: relative;
        }
        
        .banner-holder > div:nth-child(2)
        {
            position: absolute;
            display: flex;
            flex-direction: row;
            bottom: .5rem;
            right: 50%;
            transform: translateX(50%);
            align-items: center;
        }

        .banner-holder > div:nth-child(2) span
        {
            width: .5rem;
            height: .5rem;
            margin: 0 .1rem;
            border: 1px solid rgba(255, 255, 255, .25);
            border-radius: 100%;
        }

        .banner-holder > div:nth-child(2) span.big
        {
            background-color: rgba(255, 255, 255, .25);
        }
    </style>
</head>
<body>
    <%- include('../modules/nav-bar.ejs'); -%>
    <div class="container">
        <div class="content">
            <div class="banner-holder">
                <div class="banner">       
                    <% banners.forEach(banner => { %>
                        <img src="<%= banner %>" alt="dourado">
                    <% }); %>
                </div>
                <div id="carrousel_icon">
                    <% banners.forEach(banner => { %>
                        <span></span>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
    <%- include('../modules/mobile-menu.ejs'); -%>
    <script>
        var banner_index = -1;

        const banner = document.querySelector(".banner");
        const carrousel_icon = document.querySelector("#carrousel_icon")

        setInterval(() => {
            banner_index++;
            if(banner_index > banner.children.length - 1)
            {
                for (let i = 0; i < banner.children.length; i++) {
                    banner.children[i].style.transform = `translateX(${100 * i}%)`
                }

                banner_index = 0;
            }
            carrousel_icon.children[banner_index - 1 == -1 ? carrousel_icon.children.length - 1 : banner_index - 1].classList.remove("big")
            carrousel_icon.children[banner_index].classList.add("big")
            banner.children[banner_index].style.transform = `translateX(-${100 * (banner_index)}%)`
        }, 15000);
    </script>
</body>
</html>