<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcake Store</title>
    <script src="https://kit.fontawesome.com/581b6d46b3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="public/styles/global.css">
    <link rel="stylesheet" href="public/styles/nav-bar.css">
    <link rel="stylesheet" href="public/styles/mobile-menu.css">
    <link rel="stylesheet" href="public/styles/cart.css">
    <link rel="stylesheet" href="public/styles/home-banner.css">
    <link rel="stylesheet" href="public/styles/most-ordered.css">
    <script src="public/scripts/cart.js" defer></script>
    <script src="public/scripts/banner_carrousel.js" defer></script>
    <script src="public/scripts/http_helper.js"></script>
    <style>
        .flavors-section
        {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(8, calc(100% / 8));
            margin-top: 1rem;
        }

        .flavors-section img
        {
            width: 100%;
            height: auto;
            border-radius: 8%;
        }

        .flavors-section a
        {
            text-decoration: none;
            color: white;
            position: relative;
            padding: .5rem;
        }

        .flavors-section span
        {
            position: absolute;
            bottom: 1rem;
            left: 1rem;
            font-weight: 600;
           
        }

        @media only screen and (max-width: 600px) 
        {
            .flavors-section
            {
                grid-template-columns: repeat(8, calc(200% / 8));
                overflow: auto;
            }

            .flavors-section span
            {
                font-size: .5rem;
            }
        }

        
    </style>
</head>
<body>
    <%- include('../modules/nav-bar.ejs'); -%>
    <div class="cart" id="cart_menu">
        <div>
            <i class="fa-solid fa-xmark" id="cart_close"></i>
            <div class="cart_items">
                <div class="cart_item">
                    <img src="public/images/flavors/cupcake.png" alt="">
                    <div>
                        <h4>Cupcake Doce De Leite</h4>
                        <div>
                            <h3>R$ 65,80</h3> <h3>15 un</h3>
                        </div>
                    </div>
                </div>
                <div class="cart_item">
                    <img src="public/images/flavors/cupcake.png" alt="">
                    <div>
                        <h4>Cupcake Doce De Leite</h4>
                        <div>
                            <h3>R$ 65,80</h3> <h3>15 un</h3>
                        </div>
                    </div>
                </div>
                <div class="cart_item">
                    <img src="public/images/flavors/cupcake.png" alt="">
                    <div>
                        <h4>Cupcake Doce De Leite</h4>
                        <div>
                            <h3>R$ 65,80</h3> <h3>15 un</h3>
                        </div>
                    </div>
                </div>
                <div class="cart_item">
                    <img src="public/images/flavors/cupcake.png" alt="">
                    <div>
                        <h4>Cupcake Doce De Leite</h4>
                        <div>
                            <h3>R$ 65,80</h3> <h3>15 un</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h3>Total</h3><h3>R$ 65,80</h3>
                </div>
                <button>Comprar</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div class="banner-holder">
                <div class="banner">       
                    <% banners.forEach(banner => { %>
                        <img src="<%= banner %>" alt="dourado">
                    <% }); %>
                </div>
                <div id="carrousel_icon">
                    <% banners.forEach(banner => { %>
                        <span></span>
                    <% }); %>
                </div>
            </div>
            <div class="flavors-section">
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
            </div>
            <div class="most-ordered-section" id="most_ordered_section">
                <h3>Os mais pedidos</h3>
                <div>
                    <!-- <div class="product-card">
                        <img src="public/images/flavors/cupcake.png" alt="">
                        <h3>Cupcake Doce De Leite Recheado Com Amor</h3>
                        <div>
                            <h3>R$ 45,00</h3>  <h3>R$ 65,00</h3>
                        </div>
                        <div>
                            <button>Pedir</button>
                        </div>
                    </div>
                </div> -->
            </div>
            <div style="height: 300px;">
                
            </div>
        </div>
    </div>
    <div class="footer">

    </div>
    <%- include('../modules/mobile-menu.ejs'); -%>
    <script src="/public/scripts/loadCart.js"></script>
    <script>
        var most_ordered_section = document.querySelector("#most_ordered_section > div")

        async function init(){
            var most_ordered_product = await fetchInfo("/api/v1/cupcake");
            
            var html = "";

            for (let i = 0; i < most_ordered_product.data.length; i++) {
                var newHtml = 
                    `
                    <div>
                        <div class="product-card">
                            <img src="${most_ordered_product.data[i].cover_image}" alt="">
                            <h3>${most_ordered_product.data[i].name}</h3>
                            <div>
                                <h3>R$ ${most_ordered_product.data[i].selling_price.toString().replace(".", ",")}</h3>  <h3>R$ ${(most_ordered_product.data[i].selling_price + (most_ordered_product.data[i].selling_price * 0.15)).toFixed(2).replace(".", ",")}</h3>
                            </div>
                            <div>
                                <button>Pedir</button>
                            </div>
                        </div>
                    </div>
                    `
                html += newHtml;
            }

            most_ordered_section.innerHTML += html;

        }

        init();
        loadCart();
    </script>
</body>
</html>