<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcake Store</title>
    <script src="https://kit.fontawesome.com/581b6d46b3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="public/styles/global.css">
    <link rel="stylesheet" href="public/styles/nav-bar.css">
    <link rel="stylesheet" href="public/styles/mobile-menu.css">
    <style>
        .banner
        {
            position: relative;
            display: flex;
            overflow: hidden;
        }

        .banner > img
        {
            width: 100%;
            height: auto;
        }

        .banner-holder 
        {
            position: relative;
        }
        
        .banner-holder > div:nth-child(2)
        {
            position: absolute;
            display: flex;
            flex-direction: row;
            bottom: .5rem;
            right: 50%;
            transform: translateX(50%);
            align-items: center;
        }

        .banner-holder > div:nth-child(2) span
        {
            width: .5rem;
            height: .5rem;
            margin: 0 .1rem;
            border: 1px solid rgba(255, 255, 255, .25);
            border-radius: 100%;
        }

        .banner-holder > div:nth-child(2) span.big
        {
            background-color: rgba(255, 255, 255, .25);
        }









        .flavors-section
        {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(8, calc(100% / 8));
            margin-top: 1rem;
        }

        .flavors-section img
        {
            width: 100%;
            height: auto;
            border-radius: 8%;
        }

        .flavors-section a
        {
            text-decoration: none;
            color: white;
            position: relative;
            padding: .5rem;
        }

        .flavors-section span
        {
            position: absolute;
            bottom: 1rem;
            left: 1rem;
            font-weight: 600;
           
        }

        @media only screen and (max-width: 600px) 
        {
            .flavors-section
            {
                grid-template-columns: repeat(8, calc(200% / 8));
                overflow: auto;
            }

            .flavors-section span
            {
                font-size: .5rem;
            }
        }





        .most-ordered-section
        {
            width: calc(100% - 1rem);
            margin-top: 1rem;
            padding: 0 .5rem;
        }

        .most-ordered-section > h3
        {
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 1rem;
        }

        .most-ordered-section > div
        {
            width: calc(100% - (3 * .5rem));
            display: grid;
            gap: .5rem;
            grid-template-columns: repeat(4, calc(100% / 4));
        }

        .product-card
        {
            background-color: white;
            padding: .5rem;
            border-radius: .4rem;
            box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
            height: 24rem;
            display: flex;
            flex-direction: column;
        }
        
        .product-card img
        {
            width: 100%;
            height: auto;
            border-radius: .4rem;
        }

        .product-card > h3
        {
            font-size: 1rem;
            font-weight: 600;
            margin-top: .5rem;
            font-family: 'Montserrat', sans-serif;
        }

        .product-card > div
        {
            display: flex;
            align-items: center;
            
        }

        .product-card > div h3
        {
            font-size: 1rem;
            font-weight: 900;
            font-family: 'Montserrat', sans-serif;
        }

        .product-card > div > h3:nth-child(1)
        {
            font-size: 1.4rem;
            padding-right: .5rem;
        }

        .product-card > div > h3:nth-child(2)
        {
            color: rgb(87, 87, 87);
            text-decoration: line-through;
        }

        .product-card > div:nth-child(3)
        {
            margin-top: .5rem;
            display: flex;
            align-items:end;
            height: 100%;
        }

        .product-card > div:nth-child(4)
        {
            margin-top: .5rem;
        }

        .product-card > div > button
        {
            background-color: black;
            color: white;
            border-radius: .4rem;
            padding: .5rem;
            border: none;
            outline: none;
            width: 100%;
            font-size: 1.5rem;
            font-weight: 600;
            cursor: pointer;
        }


        @media only screen and (max-width: 600px) 
        {
            .most-ordered-section > div
            {
                width: calc(100% - .5rem);
                display: grid;
                gap: .5rem;
                grid-template-columns: repeat(2, calc(100% / 2));
            }

            .product-card
            {
                height: 20rem;
            }

            .product-card > div > h3:nth-child(1)
            {
                font-size: 1rem;
                padding-right: .5rem;
            }
        }
    </style>
</head>
<body>
    <%- include('../modules/nav-bar.ejs'); -%>
    <div class="container">
        <div class="content">
            <div class="banner-holder">
                <div class="banner">       
                    <% banners.forEach(banner => { %>
                        <img src="<%= banner %>" alt="dourado">
                    <% }); %>
                </div>
                <div id="carrousel_icon">
                    <% banners.forEach(banner => { %>
                        <span></span>
                    <% }); %>
                </div>
            </div>
            <div class="flavors-section">
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
                <a href="#">
                    <img src="public/images/flavors/chocolate.png" alt="">
                    <span>Chocolate</span>
                </a>
            </div>
            <div class="most-ordered-section" id="most_ordered_section">
                <h3>Os mais pedidos</h3>
                <div>
                    <!-- <div class="product-card">
                        <img src="public/images/flavors/cupcake.png" alt="">
                        <h3>Cupcake Doce De Leite Recheado Com Amor</h3>
                        <div>
                            <h3>R$ 45,00</h3>  <h3>R$ 65,00</h3>
                        </div>
                        <div>
                            <button>Pedir</button>
                        </div>
                    </div>
                </div> -->
            </div>
            <div style="height: 300px;">

            </div>
        </div>
    </div>
    <%- include('../modules/mobile-menu.ejs'); -%>
    <script>
        var banner_index = -1;

        const banner = document.querySelector(".banner");
        const carrousel_icon = document.querySelector("#carrousel_icon")

        setInterval(() => {
            banner_index++;
            if(banner_index > banner.children.length - 1)
            {
                for (let i = 0; i < banner.children.length; i++) {
                    banner.children[i].style.transform = `translateX(${100 * i}%)`
                }

                banner_index = 0;
            }
            carrousel_icon.children[banner_index - 1 == -1 ? carrousel_icon.children.length - 1 : banner_index - 1].classList.remove("big")
            carrousel_icon.children[banner_index].classList.add("big")
            banner.children[banner_index].style.transform = `translateX(-${100 * (banner_index)}%)`
        }, 15000);


        var most_ordered_section = document.querySelector("#most_ordered_section > div")


        async function init(){
            var most_ordered_product = await fetchInfo("/api/v1/cupcake");
            
            var html = "";

            for (let i = 0; i < most_ordered_product.data.length; i++) {
                var newHtml = 
                    `
                    <div>
                        <div class="product-card">
                            <img src="${most_ordered_product.data[i].cover_image}" alt="">
                            <h3>${most_ordered_product.data[i].name}</h3>
                            <div>
                                <h3>R$ ${most_ordered_product.data[i].selling_price}</h3>  <h3>R$ 65,00</h3>
                            </div>
                            <div>
                                <button>Pedir</button>
                            </div>
                        </div>
                    </div>
                    `
                html += newHtml;
            }

            most_ordered_section.innerHTML += html;

        }

        init();

        async function fetchInfo(url)
        {
            var info;
            await fetch(url, {
                method: "get",
                headers: {"Content-type" : "application/json"},
            })
            .then((res) => {
                return res.json();
            })
            .then((data) => {
                info = data;
            });
            return info;
        }



        async function postData(url, data)
        {
            var info;
            await fetch(url, {
                method: "post",
                headers: {"Content-type" : "application/json"},
                body: JSON.stringify(data)
            })
            .then((res) => {
                return res.json();
            })
            .then((data) => {
                info = data;
            });
            return info;
        }

    </script>
</body>
</html>